header.site-header {
  height: 400px;
  width: 100%;
  background-color: #ff61df;
  background-image: url(http://www.transparenttextures.com/patterns/foggy-birds.png);
}

.profile {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 175px;
  width: auto
}



.name {
  padding-top: 0px;
  margin: 0px;
  color: #FFFF;
}