nav {
  height: 120px;
  background-color: #002fa7;
  color: #FFFF;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%

}

#logo {
  font-family: 'Bungee', cursive;
  align-self: flex-end;
}

.newTweetPrompt {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.arrows {
  color: red;
  padding: 0px;
  border: 0px;
  margin: 0px;
  display: flex;
  align-items: flex-end
}