.new-tweet {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}

#tweet-text{
  width: 100%;
  background-color: inherit;
  border: 0px;
  margin: 0px;
  border-bottom: 5px solid #545149;
  outline: none;
  resize: none;
}

article[name="tweet"]{
  overflow-wrap: break-word;
}

p.error1{
  border:  6px solid crimson;
  background-color: maroon;
  color: yellow;
  overflow-wrap: break-word;
}

p.error2{
  border:  6px solid black;
  background-color: yellow;
  color: crimson;
  overflow-wrap: break-word;
}


.new-tweet footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}



.new-tweet button[type="submit"]{
  font-family: 'Bungee', cursive;
  background-color: #008DFF;
  color: white;
  border: 0px;
  border-radius: 6px;
}

.new-tweet button[type="submit"]:hover{
  transform: scale(1.1);
}

.new-tweet button.error{
  font-family: 'Bungee', cursive;
  background-color: #0060af;
  color: rgb(177, 177, 177);
  border: 0px;
  border-radius: 6px;
}

.new-tweet output{
  font-family: 'Bungee', cursive;
}

.error-count {
  font-family: 'Bungee', cursive;
  color: crimson
};
