@media only screen and (min-width: 768px) {
  
  body{
    display: flex;
    justify-content: space-between;
  }

  
  #movable-icon{
    height: 29%;
    width: 32%;
    margin: 7.5vw;
    margin-top: 24.5vh;
  }

  div.profile {
    padding-top: 4vh;
  }

  nav{
    padding-top: 16vh;
  }

  .new-tweet{
    padding-top: 16vh;
  }

  main.container{
    margin-top: 7.5vh;
    width: 40%;
  }

}

