div.tweet-container{
  margin: inherit;
}

.tweet-container article{
  margin: 4px;
  margin-bottom: 8px;
  border: 3px solid #545149;
  border-radius: 3px;
  padding: 5px
}

.tweet-container article:hover{
  box-shadow: 5px 4px #58554c42;
}

article[name='tweet'] header{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

article[name='tweet'] header div[name='name-photo']{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

article[name='tweet'] header div[name='name-photo'] img{
  padding: 5px;
  height: 2em;
  width: auto;
}

article[name='tweet'] header div[name='handle']{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

article[name='tweet'] footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid #545149;
  font-size: 0.75em;
}

article[name='tweet'] div.icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

article[name='tweet'] div.icons i{
  padding: 5px;
}

article[name='tweet'] div.icons i:hover{
  transform: scale(1.2);
  color: #008DFF;
}
